// COLORS
$general-color: #000000;
$secondary-color: #0F0F0F;
$additional-color: #C65F2C;
$tertiary-color: #FFFFFF;


// LIGHT THEME


// Units //
    $size: 4px; $gap: 6px; $pad: 2px; $rad: 6px;

// EFFECTS
    $transition: all ease-in-out 0.3s;
    $shadow: 0 0 4px rgba($color: #000000, $alpha: .64);

